# 依赖包 (绝对不能上传)
node_modules/
.pnp
.pnp.js

# 生产环境构建输出的文件夹 (不需要上传，通常在服务器上重新构建)
dist/
dist-ssr/
dist-zip/

# 日志文件
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 单元测试覆盖率报告
coverage/

# 本地环境变量文件 (包含你本地的私密配置，如密码等，不要上传)
.env.local
.env.*.local

# 编辑器和 IDE 配置目录
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 操作系统生成的文件
.DS_Store
Thumbs.db